:root {
  --primary-color: #f5f0ed;
  --secondary-color: #d4c6bd;
  --third-color: #d6b7b5;
  --fourth-color: #3d5361;
  
}

.fancy {
  font-family: 'DM Serif Display', serif;
  color:var(--fourth-color);



}

.pretty {
  font-family: 'Signika', sans-serif;
}

.Navstyle {
  font-family: 'Signika', sans-serif;
  background-color: var(--third-color);
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

body{
  background-color: var(--primary-color);
  font-family: 'Signika', sans-serif;
}

ul{
 list-style:none;
}


.btn {
  color:#ffffff !important;
  background-color: var(--third-color);
  margin:10px;
  border: 0px;
  
}
.btn:hover {
  color:#ffffff !important;
  text-decoration: none;
  background-color: var(--secondary-color);
  }
